body {
    background-color: rgb(189, 189, 180);
}

header {
    background-color: rgb(233, 190, 134);
    text-align: center;
    margin: 0px;
    color: rgb(71, 31, 104);

}

nav {
    position: relative;
    left: 34%;
    background-color: rgb(160, 227, 105);
    border-radius: 5px;
    width: 500px;
    height: 30px;
    line-height: 30px;
}

div {
    background-color: azure;
    border: 5px solid #000;
    float: left;
}

.box1 {
    width: 60%;
    height: 400px;
    margin-right: 2%;
    border: 5px solid #000;
    position: absolute;
}

#p1 {
    float: left;
    width: 250px;
    height: auto;
    margin: 4px;
}

#p2 {
    float: right;
    width: 200px;
    height: auto;
    margin: 4px;
}

#p3 {
    float: none;
    height: 150px;
    width: 200px;
    margin: 0px auto auto 4px;
}

#p4 {
    position: absolute;
    width: 150px;
    height: 150px;
    z-index: 100;
}

.box2 {
    left: 60%;
    width: 35%;
    height: 400px;
    margin-left: 2%;
    border: 5px solid #000;
    position: absolute;

}

.block1,
.block2,
.block3 {
    width: 150px;
    height: 150px;
    position: absolute;
    border: 0;
}

.block1 {
    background-color: rgb(173, 191, 72);
    left: 10px;
    top: 10px;
}

.block2 {
    background-color: rgb(236, 114, 161);
    left: 150px;
    top: 125px;

}

.block3 {
    background-color: rgb(69, 72, 165);
    bottom: 10px;
    right: 60px;
}

.block4,
.block5 {
    width: 30%;
    height: 475px;
    top: 80%;
    left: 27%;
    position: absolute;
    border-top-color: antiquewhite;
    border-bottom-color: blueviolet;

}

.block4 {
    border-left-color: rgb(83, 82, 82);
    border-right-color: azure;

}

.block5 {
    width: 20%;
    border-left-color: azure;
    border-right-color: rgb(83, 82, 82);
    left: 55%;
}

.block6 {
    background-color: rgb(76, 199, 76);
    position: absolute;
    left: 41%;
    width: 300px;
    height: 170px;
    margin-top: 1%;
    top: 144%;
    padding: 5px;
}

.block6 input[type=text],
.block6 input[type=password] {
    width: 50%;
    padding: 6px 10px;
    margin: 2px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    position: relative;
    top: -15px;
    border: 1px solid black;
}

button {
    background-color: #d9bacf;
    border: 1px solid black;
    color: white;
    padding: 7px 10px;
    margin: 2px;
    cursor: pointer;
    width: 30%;
}

.block7 {
    background-color: rgb(204, 238, 53);
    position: absolute;
    left: 29.5%;
    width: 43%;
    height: 225px;
    margin-top: 2%;
    top: 170%;
}

.block7 h3 {
    top: -15px;
    left: 0;
    position: absolute;
}

fieldset {
    position: relative;
    top: 40px;
    width: 225px;
    height: 150px;
}

legend {
    background-color: #000;
    color: #fff;
    padding: 3px 6px;
}

.block7 input {
    width: 80%;
    padding: 6px 10px;
    margin: 2px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    position: relative;
    top: 0px;
    border: 1px solid black;
}

textarea {
    position: relative;
    top: -135px;
    left: 275px;
    padding: 10px;
    max-width: 100%;
    line-height: 1.5;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #999;
    font-size: .8rem;
    letter-spacing: 1px;
}

.links {
    text-align: center;
    font-size: 16px;
    position: absolute;
    width: 10%;
    height: 60px;
    border: 2px solid rgb(118, 54, 54);
    border-radius: 20%;
    top: 206%;
    left: 29.5%;
}